.container {
  width: 100%;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 2em;
  border-top: 1px solid #eaeaea;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer a {
  text-align: center;
}

@media (max-width: 600px) {
}
